{extend name="admin@index_layout"/}
{block name="main"}
<form class="layui-form form-horizontal" action="" method="post">
    <div class="layui-form-item {eq name='relation' value=''}layui-hide{/eq}">
        <label>扩展列表 <font color="red">*</font></label>
        <div class="layui-form-field-label">
            <div class="tags-wrap clear" data-multiple="{$category['multiple']}" onclick="tags(event, this)">
            	{volist name="relation" id="vo"}
				<span class="tags-item {if in_array($vo['title'], $relationselect)}active{/if}" data-value="{$vo.title}">{$vo.title}</span>
				{/volist}
			</div>
			<input type="hidden" id="relation" name="modelField[relation]" value="{$fieldList['relation']['value']}">
		</div>
    </div>
    {include file="admin@inputItem" /}
    <input type='hidden' name='modelField[posid][]' value='-1'>
    {if isset($position) && !empty($position)}
    <div class="layui-form-item">
        <label class="">推荐位</label>
        <div class="layui-form-field-label">
            {volist name="position" id="v"}
            <input type="checkbox" name="modelField[posid][]" lay-skin="primary" title="{$v}" value="{$key}">
            {/volist}
        </div>
    </div>
    {/if}
    {if count($fieldList)}
    <div class="layui-form-item">
        <div>
            <button class="layui-btn ajax-post" lay-submit lay-filter="*" target-form="form-horizontal">立即提交</button>
        </div>
    </div>
    {/if}
</form>
{/block}
{block name="script"}
<script type="text/javascript">
	function tags(e, _this){
		var _that = e.target,
		    multiple = $(_this).data('multiple'),
		    value = [],
		    input = $('#relation');

		if(input.val() != ''){
			value = input.val().split(',');
		}

		
		if(_that.tagName.toLowerCase() == 'span'){
			_that = $(_that);
			var dataVlue = _that.data('value');

			if(_that.is('.active')){
				_that.removeClass('active');

				var _index = value.indexOf(dataVlue);
				value.splice(_index, 1);
			}else{
				if(multiple == 1){
					_that.addClass('active');
					value.push(dataVlue);

				}else{
					_that.addClass('active').siblings().removeClass('active');
					value.splice(0, 1, dataVlue);
				}
				
			}

			input.val(value.join(','));
			//console.log(value)
		}
		
	}
    layui.use(['form','layer'], function() {
        $('.ajax-post').on('click', function(e) {
            var form = layui.form,
            layer = layui.layer,
            target;
            var target_form = $(this).attr('target-form');
            target = $('.form-horizontal').attr("action");
            $.post(target, $('.form-horizontal').serialize()).success(function(data) {
                if (data.code == 1) {
                    layer.confirm(data.msg, {
                    btn: ['继续添加', '返回列表'] //按钮
                }, function() {
                    window.open('{:url("cms/cms/add",["catid"=>$catid])}', '_self')
                }, function() {
                    window.open('{:url("cms/cms/classlist",["catid"=>$catid])}', '_self')
                });
                } else {
                    layer.msg(data.msg);
                }

            });
            return false;

        });
    })
</script>
{/block}