{layout name="layout/index_layout" /}

<main id="content" class="container">
	<section class="content-top"></section>
	<section class="content-lists">
		{volist name="result['article']" id='vo'}
		<div class="content-item">
			<h3 class="index-item-title"><a href="{:url('/detail', ['id' => $vo['id']])}">{$vo['title']}</a></h3>
			<div class="index-content">{$vo['article_aata']['content']|raw}</div>

			<div class="index-item-footer text-right">
				<a href="{:url('/detail', ['id' => $vo['id']])}">阅读全文</a>&emsp;{:date('m月d日, Y', $vo['inputtime'])} 
			</div>
		</div>
		{/volist}
	</section>
</main>
