<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/utils.css">
</head>
<body>
<header id="header"></header>
<main id="content" class="container">
	<section class="content-top"></section>
	<section class="row">
		<div class="col-sm-9">
			<div style="background: #888; height:1000px;"></div>
		</div>
		<div class="col-sm-3">
			<div style="background: #888; height:500px;"></div>
		</div>
	</section>
</main>
<footer id="footer">
</footer>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
</html>