{layout name="layout/index_layout" /}

<main class="container series-wrap">
	<ul class="row">
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
		<li class="col-xs-3">
			<div class="series-item"></div>
		</li>
	</ul>
</main>